<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='svg/favicon.svg') }}" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="{{ url_for('workflows_menu_handler') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='svg/willow_logo.svg') }}" alt="Willowbench Logo" class="logo">
                    Willowbench
                </a>
                {% if show_nav_links | default(true) %}
                <ul>
                    <li><a href="{{ url_for('workflows_menu_handler') }}">Library</a></li>
                    <li><a href="{{ url_for('jobs_menu_handler') }}">Jobs</a></li>
                    <li><a href="{{ url_for('account_settings') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
